.hand {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 910;

  background: black;
  border-radius: 100%;
  background: -webkit-radial-gradient(100px 100px, circle, #5cabff, #000);
  background: -moz-radial-gradient(100px 100px, circle, #5cabff, #000);
  background: radial-gradient(100px 100px, circle, #5cabff, #000);
}

#data {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: white;
}

p {
  width: 400px;
  line-height: 1.5em;
  font-size: 18px;
}
table.hand-data td{
  width: 50px;
}